<div style="background-image:linear-gradient(cyan,white)" scroll>
	<h1 align="center">Angular Directives</h1>
	<h2>Directives overview<br><br>
		There are three kinds of directives in Angular:
		<br><br>
		Components—directives with a template.
		Structural directives—change the DOM layout by adding and removing DOM elements.
		Attribute directives—change the appearance or behavior of an element, component, or another directive.
		Components are the most common of the three directives. You saw a component for the first time in the Getting
		Started tutorial.
		<br><br>
		Structural Directives change the structure of the view. Two examples are NgFor and NgIf. Learn about them in the
		Structural Directives guide.
		<br><br>
		Attribute directives are used as attributes of elements. The built-in NgStyle directive in the Built-in
		directives guide, for example, can change several element styles at the same time.
		Directives are perhaps the most important bit of an Angular application, and if we think about it, the most-used
		Angular unit, the component, is actually a directive.
		<br><br>
		An Angular component isn’t more than a directive with a template. When we say that components are the building
		blocks of Angular applications, we’re actually saying that directives are the building blocks of Angular
		applications.
		<br><br>
		Basic overview
		At the core, a directive is a function that executes whenever the Angular compiler finds it in the DOM. Angular
		directives are used to extend the power of the HTML by giving it new syntax. Each directive has a name — either
		one from the Angular predefined like ng-repeat, or a custom one which can be called anything. And each directive
		determines where it can be used: in an element, attribute, class or comment.
		<br><br>
    AngularJS directives are extended HTML attributes with the prefix ng-.

The ng-app directive initializes an AngularJS application.

The ng-init directive initializes application data.

The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.
    </h2>
</div>